@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background-color: #ebe5da;
    margin: 0;
}

html {
    background-color: #ebe5da;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: "Arial Rounded MT Bold", sans-serif;
    text-align: center;
}
h2 {
    font-size: 30px;
}
p {
    font-size: 20px;
}


.tooltip-container {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.tooltip-icon {
  width: 16px;
  height: 16px;
  font-size: 11px;
  border-radius: 50%;
  background-color: #6c757d;
  color: white;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  cursor: help;
}

/* IMPORTANT FIX: start fully hidden */
.tooltip-text {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #212529;
  color: white;
  padding: 8px;
  border-radius: 6px;
  font-size: 0.8rem;
  width: 220px;
  z-index: 9999;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

/* hover state */
.tooltip-container:hover .tooltip-text {
  opacity: 1;
  visibility: visible;

}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  overflow-y: auto;
}